:root {
  --color-light-xl: #FFFFFF;
  --color-light-l: #F6F6F6;
  --color-light-s: #FAFAFA;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
}

*, :after, :before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:focus,
*:active {
  outline: none !important;
}
body {
  place-items: center;
  font-weight: 400;
  line-height: 1.2;
}
@font-face {
  font-family: "Georgia", sans-serif;
  src: url('../../assets/fonts/georgia/georgia-bold-italic.ttf');
  src: url('../../assets/fonts/georgia/georgia-bold.ttf');
  src: url('../../assets/fonts/georgia/georgia-italic.ttf');
  src: url('../../assets/fonts/georgia/georgia-regular.ttf');
}
@font-face {
  font-family: "Arial";
  src: url('../../assets/fonts/arial/arial-black.ttf');
  src: url('../../assets/fonts/arial/arial-bold-italic.ttf');
  src: url('../../assets/fonts/arial/arial-bold.ttf');
  src: url('../../assets/fonts/arial/arial-italic.ttf');
  src: url('../../assets/fonts/arial//arial-narrow-bold-italic.ttf');
  src: url('../../assets/fonts/arial/arial-narrow-bold.ttf');
  src: url('../../assets/fonts/arial/arial-narrow-italic.ttf');
  src: url('../../assets/fonts/arial/arial-narrow.ttf');
  src: url('../../assets/fonts/arial/arial-regular.ttf');
}


/************************************************/
.wrapper { 
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__main {
  background: 
    url('../../assets/images/fon.jpg'),
    url('../../assets/images/fon2.png') repeat;
  background-size: cover;
  /* height: 100vh; */
}

/* ***************** Navigation ********************* */
.header {
  padding-top: 30px;
}
.header__logo p {
  color: #ffffff;
}
.header__logo-title {
  font-family: Georgia;
  font-size: 32px;
  font-weight: normal;
  line-height: 35px;
  color: #F1CDB3;
  padding-bottom: 10px;
}
.header__logo-subtitle {
  font-family: Arial;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
}
.header__list {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  width: 445px;
}
.header__li {
  font-family: Arial;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  list-style: none;

}
.header__link-home {
  display: inline-block;
  color: #FAFAFA;
  list-style: none;
  text-decoration: none;
  border-bottom: 3px solid #F1CDB3;
}
.header__link {
  display: inline-block;
  color: #FAFAFA;
  list-style: none;
  text-decoration: none;
  position: relative;
}
/* .header__link::after {
    position: absolute;
    content: "";
    height: 3px;
    background-color: #F1CDB3;
    bottom: 0;
    left: 0;
    width: 0;
    transition: all 0.3s;
} */
/* .header__link:hover:after {
  width: 100%;
} */


/* ***************** Main ********************* */
.main {
  margin-top: 60px;
}
.main h2 {
  width: 310px;
  font-family: Georgia;
  font-size: 44px;
  font-weight: normal;
  line-height: 57px;
  color: #ffffff;
  padding-bottom: 42px;
}
.main p {
  width: 460px;
  font-family: Arial;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  color: #CDCDCD;
  padding-bottom: 42px;
}
.main__content {
  margin-top: 163px;
  margin-bottom: 243px;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  width: 207px;
  border-radius: 30px;
  color: #292929;
  font-size: 17px;
  font-family: Georgia;
  background-color: var(--color-primary);
  padding: 15px 45px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--color-primary-light);
  transition: 1s;
}

/* ************** About ********************* */
.about {
  background: #ffffff;
  /* min-height: 100vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img__dogcat {
  padding: 80px 120px 100px 175px;
}
.about__content h3 {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  width: 370px;
}
.about__content p {
  padding-top: 25px;
  font-family: Arial;
  font-size: 15px;
  line-height: 24px;
}

/* ************** Our Friends ********************* */
.friends {
  background: #F6F6F6;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friends__title h3 {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  padding: 80px 400px 60px;
  text-align: center;
}
.friends__carusel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  position: relative;
}
.friends__button-left {
    width: 50px;
    height: 50px;
    border: 2px solid #f1cdb3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.friends__button-left img,
.friends__button-right img {
  width: 15px;
}
.friends__button-right {
    width: 50px;
    height: 50px;
    border: 2px solid #f1cdb3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.friends__button-left:hover,
.friends__button-right:hover {
  background-color: var(--color-primary-light);
  transition: 1s;
}
.box__item {
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.box__item h4 {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  text-align: center;
}
.box__item img {
  padding-bottom: 30px;
}
.box__item .button__light {
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid var(--color-primary);
  width: 187px;
  border-radius: 30px;
  color: #292929;
  font-size: 17px;
  font-family: Georgia;
  padding: 15px 45px;
  margin: 30px 40px;
  background-color: #ffffff;
  cursor: pointer;
}
.button__light:hover {
  background-color: var(--color-primary-light);
  transition: 1s;
}
.button__friends {
  display: inline-block;
  box-sizing: border-box;
  width: 261px;
  border: none;
  border-radius: 30px;
  color: #292929;
  font-size: 17px;
  font-family: Georgia;
  background-color: var(--color-primary);
  padding: 15px 45px;
  margin: 60px 470px 100px;
  cursor: pointer;
}
.button__friends:hover {
  background-color: var(--color-primary-light);
  transition: 1s;
}

/* ************** Help ********************* */
.help {
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.help__title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center;
}
.help__box {
  width: 1026px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.help__box-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
.box-item__title {
  font-family: Georgia;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  text-align: center;
}


/* ************** In addition ********************* */
.donation {
  background: #F6F6F6;
  /* min-height: 100vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donation__content {
  margin: 80px auto 100px;
  gap: 30px;
}
.donation__title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  width: 370px;
  color: #545454;
  padding-bottom: 20px;
}
.donation__subtitle {
  font-family: Georgia;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  width: 370px;
  color: #545454;
  padding-bottom: 20px;
}
.donation__card {
  background-color: #F1CDB3;
  width: 350px;
  padding: 10px 15px;
  border-radius: 9px;
}
.donation__text {
  padding-top: 20px;
  font-family: Arial;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  width: 400px;
}


/* ************** Footer ********************* */
.footer {
  background: 
    url('../../assets/images/fon.jpg'),
    url('../../assets/images/fon2.png') repeat;
  background-size: cover;
}
.footer__content p {
  color: #F1CDB3;
}
.footer__address div img,
.footer__info div img {
  padding-right: 20px;
  
}
.footer__info-title,
.footer__address-title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  width: 370px;
  color: #ffffff;
  padding-bottom: 40px;
}
.footer__address div,
.footer__info div {
  display: flex;
  padding-bottom: 40px;
  align-items: center;;
}
.footer__img {
  padding-top: 40px;
}